<!DOCTYPE html>
<html lang="pt_br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cadastro de Documentos</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/cadastro-documentos.css">
  <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>

  <div id="page-cadastrodoc">

    <header>
      <img src="/assets/images/logo.png" alt="Logomarca">
      <a href="dashboard.html">
        <span></span> Voltar para Dashboard
      </a>
    </header>

    <form action="">

      <h1>Cadastro de Documentos</h1>

      <input type="text" name="user" id="user">

    </form>

  </div>

</body>

</html>