<!DOCTYPE html>
<!--@joaopinheiro-->
<html lang="pt-br" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contate</title>
    <link rel="stylesheet" href="/styles/contatenos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css">
  </head>
  <body>


    <!-- começam as mensagens de alerta (ver com o almir se vamos implementar)
    <div class = "alert-success">
      <span> Mensagem enviada! Obrigado por nos contatar. </span>
    </div>
    <div class = "alert-error">
      <span> Algo deu errado! Por favor, tente novamente. </span>
    </div>
    fim das mensagens de alerta-->

    <!-- início da seção de contato-->
    <div class="contact-section">
      <div class="contact-info">
        <div><i class="fas fa-map-marker-alt"></i>AV. SÃO PAULO,N 932, São Pedro do Iguaçu</div>
        <div><i class="fas fa-envelope"></i>viganocontabilidade@terra.com.br</div>
        <div><i class="fas fa-phone"></i>(45) 3255-1187</div>
        <div><i class="fas fa-clock"></i>Segunda - Sexta 8:00 às 18:00 </div>
      </div>
      <div class="contact-form">
        <h2>Entre em Contato Conosco!</h2>
        <form class="contact" action="" method="post">
          <input type="text" name="name" class="text-box" placeholder="Seu Name" required>
          <input type="email" name="email" class="text-box" placeholder="Seu Email" required>
          <textarea name="message" rows="5" placeholder="Sua Mensagem Aqui" required></textarea>
          <input type="submit" name="submit" class="enviar-btn" value="Enviar">
        </form>
      </div>
    </div>
    <!--fim da seção de contato-->

  </body>
</html>