<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novo Documento</title>

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/documentos.css">
    <link rel="stylesheet" href="/styles/responsive.css">

</head>
<body>

    <div id="page-documento">
        <nav class="navbar" role="navigation">
            <ul class="nav">
                <li>
                    <a href="#" data-placement="bottom" data-toggle="tooltip" href="#">
                    </a>
                </li>
            </ul>

            <div class="collapse">
                <ul class="nav side-nav">
                    <li>
                        <ul id="menu-1" class="collapse">
                            <li><a href="#"><i class="config"></i> Configurações </a></li>
                        </ul>
                    </li>
                    <li>
                        <ul id="menu-1" class="collapse">
                            <li><a href="#"><i class="cadastro"></i> Cadastro </a></li>
                        </ul>
                    </li>
                    <li>
                        <ul id="menu-1" class="collapse">
                            <li><a href="#"><i class="busca"></i> Busca </a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- <div id="title"> <h1>Cadastro de Documentos</h1> </div> -->
        <input type="text" disabled>
    </div>
</body>
</html>