<!DOCTYPE html>
<html lang="pt_BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Publicação e Despublicação de documentos</title>
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/publicacao-despublicacao-documentos.css">
  <link rel="stylesheet" href="/styles/responsive.css">
</head>

<body>

  <div id="page-doc">

    <header>
      <img src="/assets/images/logo.png" alt="Logomarca">
      <a href="dashboard.html">
        <span></span> Voltar para Dashboard
      </a>
    </header>

    <form action="">

      <h1>Publicação e Despublicação de Documentos</h1>

      <div class="field">
        <label for="user">Documentos fora do sistema: </label>
        <input type="text" name="searchDoc" id="searchDoc" disabled="disabled">
        <button type="button" name="procurar" id="procurar">Procurar</button>
      </div>

      <div class="buttons">
        <button type="button" class="publicar">Publicar</button>
        <button type="button" class="publicar">Listar Documentos</button>
      </div>

      <div class="list">
        <h2>LISTAR DOCUMENTOS</h2> <br>
        <div class="content">
          <input type="text" name="doc1" id="doc1" disabled="disabled" placeholder="Documento ****001">
          <input type="checkbox" name="opcao1"><label for="publicado">Publicado</label>
          <input type="checkbox" name="opcao2"><label for="despublicado">Despublicado</label>
        </div>
        <!-- <input type="text" name="doc2" id="doc2" disabled="disabled" placeholder="Documento ****002">
        <input type="checkbox" name="doc2" id="doc2">
        <input type="text" name="doc3" id="doc3" disabled="disabled" placeholder="Documento ****003">
        <input type="checkbox" name="doc3" id="doc3">
        <input type="text" name="doc4" id="doc4" disabled="disabled" placeholder="Documento ****004">
        <input type="checkbox" name="doc4" id="doc4">
        <input type="text" name="doc5" id="doc5" disabled="disabled" placeholder="Documento ****005">
        <input type="checkbox" name="doc5" id="doc5">
        <input type="text" name="doc6" id="doc6" disabled="disabled" placeholder="Documento ****006">
        <input type="checkbox" name="doc6" id="doc6">
        <input type="text" name="doc7" id="doc7" disabled="disabled" placeholder="Documento ****007">
        <input type="checkbox" name="doc7" id="doc7">
        <input type="text" name="doc8" id="doc8" disabled="disabled" placeholder="Documento ****008">
        <input type="checkbox" name="doc8" id="doc8">
        <input type="text" name="doc9" id="doc9" disabled="disabled" placeholder="Documento ****009">
        <input type="checkbox" name="doc9" id="doc9">
        <input type="text" name="doc10" id="doc10" disabled="disabled" placeholder="Documento ****010">
        <input type="checkbox" name="doc10" id="doc10">
        <input type="text" name="doc11" id="doc11" disabled="disabled" placeholder="Documento ****011">
        <input type="checkbox" name="doc11" id="doc11">
        <input type="text" name="doc12" id="doc12" disabled="disabled" placeholder="Documento ****012">
        <input type="checkbox" name="doc12" id="doc12">
        <input type="text" name="doc13" id="doc13" disabled="disabled" placeholder="Documento ****013">
        <input type="checkbox" name="doc13" id="doc13">
        <input type="text" name="doc14" id="doc14" disabled="disabled" placeholder="Documento ****014">
        <input type="checkbox" name="doc14" id="doc14">
        <input type="text" name="doc15" id="doc15" disabled="disabled" placeholder="Documento ****015">
        <input type="checkbox" name="doc15" id="doc15"> -->
      </div>

    </form>
  </div>

</body>

</html>