h2{
  margin-bottom: 56px;
  color: #66cf95;
}

#page-home{
  height: 100vh;
  background: url('/assets/images/home.png') no-repeat;
  background-size: 1166px;
}

#page-home .content{
  width: 90%;
  max-width: 1100px;
  height: 90%;

  display: flex;
  margin: 0 auto;

  flex-direction: column;
}

#page-home header{
  display: flex;
  align-items: center;
  margin-top: 40px;
}

#page-home header a{
  margin-left: 5px;

  font-size: 16px;
  font-family: 'Segoe UI';

  color: #34a0cf;
}

#page-home main{
  max-width: 300px;
  
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#page-home main img{
  align-self: center;

  margin-bottom: 16px;
  margin-right: 32px;
}

#page-home main label{
  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: bolder;
}

#page-home main label a{
  margin-left: 90px;

  font-size: 16px;
  font-family: 'Segoe UI';
  font-weight: normal;

  color: #34a0cf;
}

#page-home main input{
  width: 100%;
  max-width: 360px;

  height: 28px;
  width: 254px;
  padding: 16px;

  margin-top: 7px;

  border-radius: 10px;
  border-color: #34a0cf;

  font-size: 16px;

  outline: none;
}

::-webkit-input-placeholder {
  font-style: italic;
}
:-moz-placeholder {
  font-style: italic;  
}
::-moz-placeholder {
  font-style: italic;  
}
:-ms-input-placeholder {  
  font-style: italic; 
}

#page-home main button{
  width: 100%;
  max-width: 360px;
  margin-top: 25px;

  height: 40px;
  width: 254px;

  border-radius: 10px;

  font-weight: bold;
  color: white;

  background-color: #34a0cb;
  border-color: #00BFFF;

  outline: none;

  transition: background-color 400ms;
}

#page-home main button:hover{
  background-color: #436a9e;
}